body {
    background-color: green;/*#eaf6f6;*/
}

hr {
    border-color: #323138;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
}

h1 {
    color: #5D5C61;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

h3 {
    color: black;
    font-weight: bold;
}
